* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
.clearfix::after {
    content: '';
    display: table;
    clear: both;
}
.container {
    width: 75%;
    margin: 0 auto;
}
.main-container {
    width: 75%;
    margin: 0 auto;
}
a {
    text-decoration: none;
}



/* *****debug***** */
.debug main > section {
    height: 500px;
    background-color: lightseagreen;
}





/* header */
header {
    height: 80px;
    line-height: 80px;
    background-color: #255ee9;
}
.logo, .accedi {
    width: 20%;
    float: left;
}
.accedi {
    text-align: right;
}
.logo img {
    vertical-align: middle;
}
nav {
    width: 60%;
    float: left;
    text-align: center;
}
nav ul li {
    display: inline-block;
    list-style: none;
}
nav ul li a {
    color: white;
    font-size: 14px;
    font-weight: 500;
    margin: 0 15px;
}
nav ul li a:hover {
    text-decoration: underline;
}



/* btn */
.btn {
    border-radius: 2rem;
}
.white {
    color: black;
    background-color: white;
}
.white:hover {
    color: #255ee9;
}
.black {
    color: white;
    background-color: black;
}
.black:hover {
    background-color: #443f3e;
}
.accedi-box .white {
    padding: 5px 10px;
    font-size: 12px;
}
.jumbo-content .btn {
    font-weight: 500;
    padding: 14px 25px;
    margin: 0 10px;
}



/* jumbotron */
#jumbo {
    height: 515px;
    background-image: url("../img/jumbo.png");
    background-size: cover;
}
.jumbo-content {
    text-align: center;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.jumbo-content h1 {
    font-size: 45px;
}
.jumbo-content p {
    line-height: 1.60;
    font-weight: 500;
    margin: 30px 0;
}



/* main */
.section-content .image {
    width: 50%;
    float: left;
}
.section-content .content {
    width: 35%;
    float: right;
}
.section-content {
    padding: 50px 0;
    margin: 0 auto;
}
.image img {
    width: 100%;
}
.content {
    padding-right: 50px;
}
.content h2 {
    font-size: 30px;
    line-height: 1.80;
}
.content p {
    line-height: 1.60;
}